@model Purchase

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/CRM/_Purchase.css"/>
    </head>
    <body>
        <form asp-controller="CRM" asp-action="AddPurchase" asp-route-businessId="@ViewBag.oneBusiness.BusinessId" method="POST">
            <div class="formT">
                <h1>Let's get Started!</h1>
            </div>
            <div class="row">
                <div class="col-5">
                    <label asp-for="ProductId" class="form-label"></label>
                    <span asp-validation-for="ProductId" class="error"></span>
                    <select asp-for="ProductId" class="form-control">
                        <option>select</option>
                    @foreach (Product p in ViewBag.Products)
                    {
                        <option value="@p.ProductId">@p.Name</option>
                    }
                    </select>
                </div>
                <div class="col">
                    <label asp-for="AddressId" class="form-label"></label>
                    <span asp-validation-for="AddressId" class="error"></span>
                    <select asp-for="AddressId" class="form-control">
                        <option>select</option>
                    @foreach (Address a in ViewBag.oneBusiness.AddressList)
                    {
                        <option value="@a.AddressId">
                            <p>@a.Street</p>
                            <p>@a.City, @a.State @a.ZipCode</p>
                        </option>
                    }
                    </select>
                </div>
            </div>
            <p class="tc">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Terms and Conditions
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <strong>Contract Length</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente illo unde et debitis nobis dicta cumque nostrum saepe deleniti. Expedita iste temporibus atque nam voluptas! Quos et enim magni quibusdam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius beatae odit vitae tempora. Sint quod reiciendis non ex libero natus incidunt illo blanditiis. Animi deserunt ipsa soluta, voluptate fugiat officia?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum animi omnis quam quidem facilis harum suscipit nemo labore, officiis est. Beatae natus, iste delectus eligendi ipsam odit impedit atque eaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit adipisci perspiciatis quis nemo architecto dolore? Impedit amet fuga est doloremque quae quisquam odio fugiat blanditiis aliquid, fugit consectetur voluptatem similique.</p>
                    <strong>Policy</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolor aliquam dicta necessitatibus non consequuntur ipsa rem autem dolore obcaecati, praesentium voluptatum architecto nobis consequatur nisi officia. At, obcaecati expedita! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur accusantium modi nisi nesciunt odit incidunt repudiandae eligendi aperiam quos optio quo alias quaerat facilis ipsa, quia qui! Maxime, suscipit a.lorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam porro quia odit obcaecati excepturi, animi, dolores magnam autem id asperiores fugiat corporis aperiam. Pariatur optio accusantium placeat magnam nam fugiat?</p>
                </div>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" onchange="document.getElementById('submit').removeAttribute('disabled')" id="invalidCheck2" required>
                    <label class="form-check-label" for="invalidCheck2">
                        Agree to terms and conditions
                    </label>
                </div>
            </div>
            <br>
            <button type="submit" id="submit" class="btn btn-outline-success" disabled>Purchase</button>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>