@model List<Business>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyCRM - Dashboard</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/CRM/Dashboard.css" />
        <link rel="stylesheet" href="~/MeetUpCenter.styles.css" asp-append-version="true" />
    </head>
    <body >
        <div class="header">
            <h1 class="dashboardTitle">Welcome, @Context.Session.GetString("Name")</h1>
            <div>
                <a asp-controller="CRM" asp-action="NewBusiness" class="btn btn-outline-primary">Add a Business</a>
                <a asp-controller="User" asp-action="Logout" class="btn btn-outline-danger">Log Out</a>
            </div>
            
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="thead">Business Name</th>
                    <th scope="col" class="thead">Point of Contact</th>
                    <th scope="col" class="thead">Last Activity</th>
                    <th scope="col" class="thead">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Business b in Model)
                {
                    <tr>
                        <td class="tbody"><p class="BName">@b.BusinessName</p></td>
                        <td class="tbody"><p class="poc">@b.StaffList[0].FirstName @b.StaffList[0].LastName</p></td>
                        @if(@b.UsersWorkedWith.Count > 0)
                        {
                            <td class="tbody">
                                <div class="tActivity">
                                    @if(b.UsersWorkedWith[b.UsersWorkedWith.Count - 1].ActivityType == "Phone Call")
                                    {
                                        <div class="img">
                                            <img src="~/images/Activity/PhoneCall.svg" alt="ai" id="img">
                                        </div>
                                    }
                                    @if(b.UsersWorkedWith[0].ActivityType == "Email")
                                    {
                                        <div class="img">
                                            <img src="~/images/Activity/Email.svg" alt="ai" id="img">
                                        </div>
                                    }
                                    @if(b.UsersWorkedWith[0].ActivityType == "Presentation")
                                    {
                                        <div class="img">
                                            <img src="~/images/Activity/Presentation.svg" alt="ai" id="img">
                                        </div>
                                    }
                                    <p class="lastA">@b.UsersWorkedWith[0].CreatedAt.ToString("MM/d @ h:mm tt")</p>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td class="tbody">No activity yet</td>
                        }
                        <td class="actions" >
                            <div>
                                <a asp-controller="CRM" asp-action="ViewOne"  asp-route-businessId=@b.BusinessId class="btn btn-outline-primary">View</a>
                                <span></span>
                                <a asp-controller="CRM" asp-action="DeleteOne"  asp-route-businessId="@b.BusinessId" class="btn btn-outline-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>