@model List<Business>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyCRM - Dashboard</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/CRM/Dashboard.css" />
        <link rel="stylesheet" href="~/MeetUpCenter.styles.css" asp-append-version="true" />
    </head>
    <body style="margin: 0px auto; padding: 0px;">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <h1>Welcome, @Context.Session.GetString("Name")</h1>
            <a asp-controller="User" asp-action="Logout" class="btn btn-outline-danger">Log Out</a>
        </div>
        <a asp-controller="CRM" asp-action="NewBusiness" class="btn btn-outline-primary">Add a Client</a>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Business Name</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Last Activity</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Business b in Model)
                {
                    <tr>
                        <td>@b.BusinessName</td>
                        <td>@b.BusinessOwner</td>
                        @if(@b.UsersWorkedWith.Count > 0)
                        {
                            <td>@b.UsersWorkedWith[0].ActivityType @b.UsersWorkedWith[0].CreatedAt</td>
                        }
                        else
                        {
                            <td>No activity yet</td>
                        }
                        <td><a asp-controller="CRM" asp-action="ViewOne"  asp-route-businessId=@b.BusinessId class="btn btn-outline-primary">View</a><a asp-controller="CRM" asp-action="DeleteOne"  asp-route-businessId="@b.BusinessId" class="btn btn-outline-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>