

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyCRM - @ViewBag.OneBusiness.BusinessName</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/CRM/ViewOne.css" />
        <link rel="stylesheet" href="~/MeetUpCenter.styles.css" asp-append-version="true" />
    </head>
    <body>
        <div class="ViewOneBody">
            <div class="ViewOneHeader">
                <div>
                    <h1 class="bname">
                        <span onmouseover="editName(this)" onmouseout="removeName(this)" id="BN">
                            @ViewBag.OneBusiness.BusinessName
                            <button class="btn btn-link" id="editor" onclick="switchName('BN','BNUpdate')">edit</button>
                        </span>
                        <span id="BNUpdate"><partial name="_UpdateBName"></partial></span>
                    </h1>
                </div>
                <div class="HRight">
                    <a asp-controller="CRM" asp-action="Presentation"  asp-route-businessId="@ViewBag.oneBusiness.BusinessId" class="btn btn-outline-success">Presentation</a>
                    <span></span>
                    <a asp-controller="CRM" asp-action="Dashboard" class="btn btn-outline-primary">Dashboard</a>
                    <span></span>
                    <a asp-controller="User" asp-action="Logout" class="btn btn-outline-danger">Log Out</a>
                </div>
            </div>
            <div class="ViewOneContainer">
                <div class="ContainerLeft">
                    <h1>Owner: @ViewBag.OneBusiness.StaffList[0].FirstName @ViewBag.OneBusiness.StaffList[0].LastName</h1>
                    <h3>Phone: <a href="tel:@ViewBag.OneBusiness.StaffList[0].PhoneNumber">@ViewBag.OneBusiness.StaffList[0].PhoneNumber</a></h3>
                    <h3>Email: <a href="mailto:@ViewBag.OneBusiness.StaffList[0].Email">@ViewBag.OneBusiness.StaffList[0].Email</a></h3>
                    <h2>Founded in: 
                        <span id="SD" onmouseover="editSD(this)" onmouseout="removeSD(this)">
                            @ViewBag.OneBusiness.StartDate.ToString("MMMM d, yyyy")
                            <button class="btn btn-link" id="editSD" onclick="switchName('SD','USD')">edit</button>
                        </span>
                        <span id="USD"><partial name="_UpdateSD"></partial></span>
                    </h2>
                    <h4 style="display: flex; align-items: center; margin:0px;">Industry: 
                        <span id="I" style="align-items: center;" onmouseover="editI(this)" onmouseout="removeI(this)">
                            @ViewBag.OneBusiness.Industry
                            <button class="btn btn-link" id="editI" onclick="switchName('I','UI')">edit</button>
                        </span>
                        <span id="UI"><partial name="_UpdateI"></partial></span>
                    </h4>
                    
                    <h4 class="address" onmouseover="addA(this)" onmouseout="removeA(this)">
                        Location 
                        <span><button class="btn btn-link" id="addA" onclick="address()">add</button></span>
                    </h4>
                    <div id="newAddress">
                        <div style="text-align: right;">
                            <button class="btn btn-link" onclick="close()">close</button>
                        </div>
                        <partial name="_Address"></partial>
                    </div>
                    @foreach (Address a in ViewBag.OneBusiness.AddressList)
                    {
                        <div class="locationDetails" onmouseover="addAD(this)" onmouseout="removeAD(this)">
                            <div>
                                <p id="ViewOneStreet">@a.Street</p>
                                <p>@a.City, @a.State @a.ZipCode</p>
                            </div>
                            <span id="aOptions">
                                <div style="margin: 0px;">
                                    <a asp-controller="CRM" asp-action="DeleteLocation" asp-route-businessId="@ViewBag.OneBusiness.BusinessId" asp-route-addressId="@a.AddressId">delete</a>
                                </div>
                            </span>
                        </div>
                        
                    }
                    <h2 class="notes" onmouseover="editN(this)" onmouseout="removeN(this)">
                        Notes 
                        <span><button class="btn btn-link" id="editN" onclick="notes()">add</button></span>
                    </h2>
                    <div style="display: flex;">
                        <div style="margin-left: 0px;">
                            @foreach (Note n in ViewBag.OneBusiness.SpecialNotes)
                            {
                                <p style="margin: 0px;">@n.SpecialNote</p>
                                <p>@n.CreatedAt.ToString("M/d @ h:mm tt")</p>
                            }
                        </div>
                        <span id="SNotes">
                            <div style="text-align: right;">
                                <button class="btn btn-link" onclick="close('SNotes')">close</button>
                            </div>
                            <partial name="_SpecialNotes"></partial>
                        </span>
                    </div>
                    <div>
                        <h4>Purchases</h4>
                        
                        @foreach (Purchase p in ViewBag.OneBusiness.PurchaseList)
                        {
                            <p>@p.Product.Name</p>
                        }
                    </div>
                </div>
                <div class="ContainerRight">
                    <partial name="_ClientActivity"></partial>
                </div>
            
            </div>
        </div>
        <script>
            function editName(){
                let appear = document.getElementById('editor')
                appear.style.display = "block"
            }

            function removeName(){
                let disappear = document.getElementById('editor')
                setTimeout(function(){disappear.style.display = "none"}, 2000);
            }

            function editSD(){
                let appear = document.getElementById('editSD')
                appear.style.display = "block"
            }

            function removeSD(){
                let disappear = document.getElementById('editSD')
                setTimeout(function(){disappear.style.display = "none"}, 2000);
            }

            function editI(){
                let appear = document.getElementById('editI')
                appear.style.display = "block"
            }

            function removeI(){
                let disappear = document.getElementById('editI')
                setTimeout(function(){disappear.style.display = "none"}, 2000);
            }

            function editN(){
                let appear = document.getElementById('editN')
                appear.style.display = "block"
            }

            function removeN(){
                let disappear = document.getElementById('editN')
                setTimeout(function(){disappear.style.display = "none"}, 2000);
            }

            function notes(){
                let appear = document.getElementById("SNotes")
                appear.style.display = "block";
            }

            function closeN(ele){
                let disappear = document.getElementById(ele);
                disappear.style.display = "none";
            }

            function addA(){
                let appear = document.getElementById('addA')
                appear.style.display = "block"
            }

            function removeA(){
                let disappear = document.getElementById('addA')
                setTimeout(function(){disappear.style.display = "none"}, 2000);
            }

            function address(){
                let appear = document.getElementById('newAddress')
                appear.style.display = "block";
            }

            function addAD(){
                let appear = document.getElementById('aOptions')
                setTimeout(function(){appear.style.display = "block"}, 1000)
            }

            function removeAD(){
                let disappear = document.getElementById('aOptions')
                setTimeout(function(){disappear.style.display = "none"}, 2000);
            }


            function switchName(dis,up){
                let disappear = document.getElementById(dis)
                let update = document.getElementById(up)
                disappear.style.display = "none";
                update.style.display = "block";
            }
        </script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>