

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyCRM - @ViewBag.OneBusiness.BusinessName</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/CRM/ViewOne.css" />
        <link rel="stylesheet" href="~/MeetUpCenter.styles.css" asp-append-version="true" />
    </head>
    <body>
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <h1>@ViewBag.OneBusiness.BusinessName</h1>
            <div style="display: flex; align-items: center;">
                <a asp-controller="CRM" asp-action="Dashboard" class="btn btn-outline-primary">Dashboard</a>
                <a asp-controller="User" asp-action="Logout" class="btn btn-outline-danger">Log Out</a>
            </div>
        </div>
        <a asp-controller="CRM" asp-action="Presentation"  asp-route-businessId="@ViewBag.oneBusiness.BusinessId">Presentation</a>
        <h1>@ViewBag.OneBusiness.BusinessName</h1>
        <h2>@ViewBag.OneBusiness.BusinessOwner</h2>
        <h3>@ViewBag.OneBusiness.StartDate</h3>
        <h4>@ViewBag.OneBusiness.Industry</h4>
        
        <h4>Address List</h4>
        @foreach (Address a in ViewBag.OneBusiness.AddressList)
        {
            <p>@a.Street</p>
            <p>@a.City, @a.State @a.ZipCode</p>
        }
        @foreach (Note n in ViewBag.OneBusiness.SpecialNotes)
        {
            <p>@n.SpecialNote</p>
            <p>@n.CreatedAt</p>
        }

        @foreach (Purchase p in ViewBag.OneBusiness.PurchaseList)
        {
            <p>@p.Product.Name</p>
        }
        <partial name="_SpecialNotes"></partial>
        <partial name="_ClientActivity"></partial>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>