

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyCRM - @ViewBag.OneBusiness.BusinessName</title>
        <link rel="stylesheet" href="~/css/CRM/ViewOne.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/x-icon" href="~favicon.ico" />
    </head>
    <body>
        <div class="header">
            <div>
                <h1 class="bname">
                    <span ondblclick="edit('BNUpdate','BN')" onmouseout="removeName(this)" id="BN">
                        @ViewBag.OneBusiness.BusinessName
                    </span>
                    <span id="BNUpdate" onmouseout="BNBack(this)">
                        <partial name="_UpdateBName"></partial>
                    </span>
                </h1>
            </div>
            <div class="HRight">
                <a asp-controller="CRM" asp-action="Presentation"  asp-route-businessId="@ViewBag.oneBusiness.BusinessId" class="btn btn-success">Presentation</a>
                <span style="width: 5px;"></span>
                <a asp-controller="CRM" asp-action="Dashboard" class="btn btn-primary">Dashboard</a>
                <span style="width: 5px;"></span>
                <a asp-controller="User" asp-action="Logout" class="btn btn-danger">Log Out</a>
            </div>
        </div>
        <div class="contain">
            <div class="ViewOneContainer">
                <div class="ContainerLeft">
                    <div style="margin-top: 20px;">
                        <h1 ondblclick="edit('UPOC', 'POC')">
                            <span id="POC">Point of Contact</span>
                            <span id="UPOC" onmouseout="POCBack(this)">
                                <partial name="_POC"></partial>
                            </span>
                        </h1>
                    </div>
                    @foreach (Staff s in ViewBag.oneBusiness.StaffList)
                    {
                        if(s.StaffId == ViewBag.oneBusiness.PocId)
                        {
                            <div>
                                <h2>@s.StaffType: @s.FirstName @s.LastName</h2>
                            </div>
                            <div>
                                <h3>Phone: <a href="tel:@s.PhoneNumber">@s.PhoneNumber.ToString("(###) ###-####")</a></h3>
                            </div>
                            <div>
                                <h3>Email: <a href="mailto:@s.Email">@s.Email</a></h3>
                            </div>
                        }
                    }
                    <div>
                        <div class="StaffS">
                            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" >
                                <span onmouseover="addS(this)" onmouseout="removeS(this)">Staff</span>
                            </button>
                            <button class="btn btn-link" data-bs-toggle="modal" id="addS" data-bs-target="#exampleModal">
                                add
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3>Add a New Staff Member</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 40px;"></button>
                                        </div>
                                        <div class="modal-body">
                                            <partial name="_NewStaff"></partial>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="cardInfo">
                                    @foreach (Staff s in ViewBag.oneBusiness.StaffList)
                                    {   
                                        <div class="staffDetails">
                                            <p>@s.StaffType</p>
                                            <p>@s.FirstName @s.LastName</p>
                                            <p><a href="tel:@s.PhoneNumber">@s.PhoneNumber.ToString("(###) ###-####")</a></p>
                                            <p><a href="mailto:@s.Email">@s.Email</a></p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3 class="BW" ondblclick="edit('WUpdate', 'W')" onmouseout="WBack(this)">Business Website: 
                            @if(ViewBag.oneBusiness.Website == null)
                            {
                                <span id="W">
                                    None Yet
                                </span>
                            }
                            else
                            {
                                <span id="W">
                                    <a href="https://@ViewBag.oneBusiness.Website" target="_blank">@ViewBag.oneBusiness.Website</a>
                                </span>
                            }
                            <span id="WUpdate">
                                <partial name="_Website"></partial>
                            </span>
                        </h3>
                    </div>
                    <div>
                        <h2>Founded in: 
                            <span id="SD" ondblclick="edit('USD', 'SD')">
                                @ViewBag.OneBusiness.StartDate.ToString("MMMM d, yyyy")
                            </span>
                            <span id="USD" onmouseout="SDBack(this)">
                                <partial name="_UpdateSD"></partial>
                            </span>
                        </h2>
                    </div>
                    <div>
                        <h2 class="industryT">Industry: 
                            <span id="I" ondblclick="edit('UI', 'I')">
                                @ViewBag.OneBusiness.Industry
                            </span>
                            <span id="UI" onmouseout="IBack(this)">
                                <partial name="_UpdateI"></partial>
                            </span>
                        </h2>
                    </div>
                    <div class="lnbody">
                        <div style="margin-left: 50px;">
                            <div>
                                <h1 class="address" onmouseover="addA(this)" onmouseout="removeA(this)">
                                    Locations 
                                    <span>
                                        <button class="btn btn-link" data-bs-toggle="modal" id="addA" data-bs-target="#exampleModal1">
                                            add
                                        </button>
                                    </span>
                                </h1>
                            </div>
                            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3>Add a New Location</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 40px;"></button>
                                        </div>
                                        <div class="modal-body">
                                            <partial name="_Address"></partial>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: 20px;">
                                @foreach (Address a in ViewBag.OneBusiness.AddressList)
                                {
                                    <div class="locationDetails" ondblclick="deleteOne('aOptions@a.AddressId')" onmouseout="removeAD(this)">
                                        <div style="display: flex; align-items: center; margin-left: 5px;">
                                            <div class="img" style="margin-left: 5px; margin-right: 15px;">
                                                    <img src="~/images/Activity/Location.png" alt="ai" id="img">
                                            </div>
                                            <div>
                                                <h4 id="ViewOneStreet">@a.Street</h4>
                                                <h4>@a.City, @a.State @a.ZipCode</h4>
                                            </div>
                                        </div>
                                        <span class="aOptions" id="aOptions@a.AddressId">
                                                <a asp-controller="CRM" asp-action="DeleteLocation" asp-route-businessId="@ViewBag.OneBusiness.BusinessId" asp-route-addressId="@a.AddressId">delete</a>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                        <div style="margin-left: 50px;">
                            <div>
                                <h1 class="notes" onmouseover="editN(this)" onmouseout="removeN(this)">
                                    Notes 
                                    <span>
                                        <button class="btn btn-link" data-bs-toggle="modal" id="editN" data-bs-target="#exampleModal2">
                                            add
                                        </button>
                                    </span>
                                </h1>
                            </div>
                            <div style="display: flex;">
                                <div class="noteDetails">
                                    @foreach (Note n in ViewBag.OneBusiness.SpecialNotes)
                                    {
                                        <div class="note">
                                            <div class="img" style="margin-left: 5px; margin-right: 15px;">
                                                    <img src="~/images/Activity/Note.png" alt="ai" id="img">
                                            </div>
                                            <div style="margin-left: 7px;">
                                                <h5 style="margin: 0px; font-weight: bold;">@n.SpecialNote</h5>
                                                <p>@n.CreatedAt.ToString("M/d @ h:mm tt")</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3>Add a Note</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 40px;"></button>
                                    </div>
                                    <div class="modal-body">
                                        <partial name="_SpecialNotes"></partial>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="purchases">
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample1">
                                Purchases (@ViewBag.OneBusiness.PurchaseList.Count)
                            </button>
                        </p>
                        <div style="min-height: 120px;">
                            <div class="collapse collapse" id="collapseWidthExample1">
                                <div class="card card-body" style="width: 300px;">
                                    @if(ViewBag.OneBusiness.PurchaseList.Count > 0)
                                    {
                                        @foreach (Purchase p in ViewBag.OneBusiness.PurchaseList)
                                        {
                                            <div class="purchaseDetails">
                                                <div class="img" style="margin-left: 5px; margin-right: 15px;">
                                                    <img src="~/images/Activity/Purchase.png" alt="ai" id="img">
                                                </div>
                                                <div style="margin-left: 0px; padding-left: 0px;">
                                                    <p style="margin: 0px;">@p.Product.Name at</p>
                                                    <p style="margin: 0px;">@p.Address.City, @p.Address.State</p>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <p>No purchases yet</p>
                                    }
                                </div>
                            </div>
                        </div>                      
                    </div>
                </div>
                <div class="accordion accordion-flush task" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Up Coming Tasks (@ViewBag.OneBusiness.TaskList.Count)
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body taskBody" >
                                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModalT">
                                    add
                                </button>
                                @foreach (UpcomingTask t in ViewBag.oneBusiness.TaskList)
                                {   
                                    @if(t.DueDate >= DateTime.Now)
                                    {
                                        <div class="taskDetails">
                                            @if(t.TaskType == "Phone Call")
                                            {
                                                <div class="img" style="margin-left: 5px; margin-right: 15px;">
                                                    <img src="~/images/Activity/PhoneCall.svg" alt="ai" id="img">
                                                </div>
                                            }
                                            @if(t.TaskType == "Email")
                                            {
                                                <div class="img" style="margin-left: 5px; margin-right: 15px;">
                                                    <img src="~/images/Activity/Email.svg" alt="ai" id="img">
                                                </div>
                                            }
                                            @if(t.TaskType == "Presentation")
                                            {
                                                <div class="img" style="margin-left: 5px; margin-right: 15px;">
                                                    <img src="~/images/Activity/Presentation.png" alt="ai" id="img">
                                                </div>
                                            }
                                            <div style="margin-left: 0px; padding-left: 0px;">
                                                <p style="margin: 0px; font-weight: bold;">with @t.staff.FirstName</p> 
                                                <p style="margin: 0px;">@t.DueDate.ToString("MM/d @ h:mm tt")</p>
                                                <p style="margin: 0px;">@t.Details</p>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModalT" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="margin-right: 75px;">Add a Task</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <div class="modal-body">
                                <partial name="_Task"></partial>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ContainerRight">
                    <partial name="_ClientActivity"></partial>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="~/js/ViewOne.js"></script>
    </body>
</html>